<style>.overlay {
    display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            margin: 0;
    position: fixed; /* Sit on top of the page content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  .container {
            padding: 30px;
            width: 100%;
            
            background-color: white;
            border-radius: 15px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            border: 1px solid #ddd;
        }
</style>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} flash-message overlay">
                    <div class = "container mt-3">{{ message }}</div>
                </div>
            {% endfor %}
        
    {% endif %}
{% endwith %}
   
